<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gerenciar o Cardápio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <div class="main">
        <section class="container-login" id="adicionar">
            <a href="{{ url_for('home.home') }}" class="butao">voltar</a>
            <form action="{{ url_for('admin.validar') }}" method="post" enctype="multipart/form-data" class="form-adicionar" autocomplete="off">
                <h2 class="titulo">Login</h2>
                <label for="log-nome">
                    Nome: <input type="text" id="log-nome" name="log-nome" required>
                </label>
                <label for="log-senha">
                    Senha: <input type="password" id="log-senha" name="log-senha" required>
                </label>
                {% set mensagem = get_flashed_messages() %}
                {% if mensagem %}
                <p class="erro">{{ mensagem[0] }}</p>
                {% endif %}
                <div class="form-butoes">
                    <a class="butao" href="{{ url_for('home.home') }}">Cancelar</a>
                    <button class="butao" type="submit">Entrar</button>
                </div>
            </form>
        </section>
    </div>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
</body>
</html>